COMPOSE_PROJECT_NAME=archivesspace
DOMAIN=localhost
HOST_INSECURE_PORT=80

ASPACE_DB_MIGRATE=true
ASPACE_JAVA_XMX=-Xmx2048m
JAVA_OPTS="-Djava.awt.headless=true -Dfile.encoding=UTF-8 -server -Xss1024k -Djavax.accessibility.assistive_technologies=''"

DB_NAME=archivesspace
DB_USER=archivesspace

SMTP_FROM=noreply@localhost
SMTP_HOST=host.docker.internal
SMTP_PORT=25
